<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="webdevelopment.secondsystem.dao.StudentBedPairMapper">
    <resultMap id="StudentBedPair" type="webdevelopment.secondsystem.domain.entity.StudentBedPair">
        <result column="building_id" property="buildingId"></result>
        <result column="room_id" property="roomId"></result>
        <result column="bed_id" property="bedId"></result>
        <result column="student_id" property="studentId"></result>
    </resultMap>
    <insert id="insert">
        INSERT INTO student_bed(building_id, room_id, bed_id, student_id) VALUES (#{buildingId}, #{roomId}, #{bedId}, #{studentId})
    </insert>
    <delete id="deleteByStudentId">
        DELETE FROM student_bed WHERE student_id=#{studentId}
    </delete>
    <select id="findByStudentId" resultMap="StudentBedPair">
        SELECT * FROM student_bed WHERE student_id=#{studentId}
    </select>
</mapper>